<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="main-header">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/mus_logo.png') }}" alt="Logo" id="logo">
        </a>

        <a role="button" class="navbar-burger" id="hamburger" aria-label="menu" aria-expanded="false"
            data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('main.index') }}">Home</a>
        </div>
        <div class="navbar-end">
            {% if current_user.is_authenticated %}
                <!-- Dropdown for Admin Models -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Admin</a>
                    <div class="navbar-dropdown">
                        {% for model in admin_models %}
                            <a class="navbar-item" href="{{ url_for(model.lower() + '.index_view') }}">{{ model }}</a>                        {% endfor %}
                    </div>
                </div>
                <a class="navbar-item" href="{{ url_for('main.upload_file') }}">Upload</a>
            {% endif %}
            <hr class="navbar-divider">
            {% if current_user.is_authenticated %}
                <a class="navbar-item" href="{{ url_for('main.logout') }}">Logout</a>
            {% else %}
                <a class="navbar-item" href="{{ url_for('main.login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    // This script toggles the burger menu on mobile devices
    document.addEventListener('DOMContentLoaded', () => {
        const burger = document.querySelector('.navbar-burger');
        const menu = document.querySelector('.navbar-menu');
        burger.addEventListener('click', () => {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    });
</script>