<section id="timeline" class="section">
    <div class="container">
        <h2 class="title is-2 has-text-centered" data-aos="fade-in">{{ site.timeline.title }}</h2>
        <div class="timeline is-centered">
            {% for section in sections %}
                <header class="timeline-header" data-aos="fade-right">
                    <span class="tag is-medium is-primary">{{ section.title }}</span>
                </header>
                {% for subsection in section.subsections %}
                    <div class="timeline-item is-primary" data-aos="fade-left">
                        <div class="timeline-marker is-primary"></div>
                        <div class="timeline-content">
                            <p class="heading">{{ subsection.start_date|datetime }} - {{ subsection.end_date|datetime if subsection.end_date else 'Present' }}</p>
                            <h4 class="title is-4">{{ subsection.title }}</h4>
                            <ul>
                                {% for detail in subsection.details.split(';') %}
                                    <li data-aos="zoom-in">{{ detail }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <header class="timeline-header" data-aos="fade-right">
                <span class="tag is-medium">End</span>
            </header>
        </div>
    </div>
</section>
