<div class="column is-one-third">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{ url_for('static', filename=service.logo) }}" alt="{{ service.name }} Logo">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{ service.name }}</p>
                    <p class="subtitle is-6">{{ service.description }}</p>
                </div>
            </div>
            <div class="content">
                <a class="button is-primary" onclick="document.querySelector('#modal-{{ service.id }}').classList.toggle('is-active');">Manage</a>            
            </div>
        </div>
    </div>
</div>

<!-- Service Control Modal -->
<div class="modal" id="modal-{{ service.id }}">
    <div class="modal-background" onclick="toggleModal('{{ service.id }}')"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ service.name }} Control</p>
            <button class="delete" aria-label="close" onclick="document.querySelector('#modal-{{ service.id }}').classList.toggle('is-active');"></button>
        </header>
        <section class="modal-card-body">
            <form id="form-{{ service.id }}" onsubmit="return updateEnvironmentVars('{{ service.id }}')">
                {% for env_var in service.environment_vars %}
                    <div class="field">
                        <label class="label">{{ env_var.key }}</label>
                        <div class="control">
                            <input class="input" type="text" name="{{ env_var.key }}" value="{{ env_var.value }}">
                        </div>
                    </div>
                {% endfor %}
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">Save Changes</button>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="startService('{{ service.id }}', this)">Start <span class="spinner hidden"></span></button>
            <button class="button is-danger" onclick="stopService('{{ service.id }}', this)">Stop <span class="spinner hidden"></span></button>
            <button class="button is-warning" onclick="restartService('{{ service.id }}', this)">Restart <span class="spinner hidden"></span></button>
        </footer>
    </div>
</div>
