/* custom.scss */
@charset "utf-8";

// Variables
// ======================
$primary: #005a7a;
$secondary: #8e4216;
$info: #f3f4eb;
$success: #a9dc87;
$warning: #ebd087;
$danger: #fa7777;
$text: $info;

// Typography
// ======================
$family-sans-serif: "Ubuntu", sans-serif;
$family-monospace: "Ubuntu Mono", monospace;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// Layout and Spacing
// ======================
$block-spacing: 1.5rem;
$gap: 32px;

// Animation
// ======================
$easing: ease-out;
$speed: 86ms;

// Borders and Radius
// ======================
$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$radius-rounded: 9999px;

// Navbar
// ======================
$navbar-height: 3rem;
$navbar-background-color: $primary;
$navbar-item-color: $info;
$navbar-item-hover-color: darken($info, 30%);
$navbar-item-hover-background-color: darken($primary, 5%);
$navbar-item-active-color: $success;
$navbar-item-active-background-color: lighten($primary, 5%);
$navbar-dropdown-background-color: lighten($primary, 15%);
$navbar-dropdown-item-hover-color: $navbar-item-hover-color;
$navbar-dropdown-item-hover-background-color: lighten($primary, 25%);

// Card
// ======================
$card-background-color: lighten($primary, 10%);
$card-color: $info;
$card-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
$card-header-background-color: darken($primary, 5%);
$card-header-color: $info;
$card-footer-background-color: darken($primary, 5%);
$card-footer-color: $info;

// Box
// ======================
$box-background-color: lighten($primary, 10%);
$box-color: $info;
$box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);

// Button
// ======================
$button-background-color: $primary;
$button-color: $info;
$button-hover-color: darken($info, 30%);
$button-hover-background-color: darken($primary, 25%);
$button-active-color: $success;
$button-active-background-color: lighten($primary, 25%);
$button-border-width: 1px;
$button-border-radius: $radius;
$button-border-color: transparent;
$button-border-color-hover: transparent;
$button-border-color-focus: transparent;
$button-border-color-active: transparent;
$button-border-color-disabled: transparent;
$button-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);

// Title and Subtitle
// ======================
$title-color: $info;
$subtitle-color: $info;

// Notification
// ======================
$notification-background-color: lighten($primary, 10%);
$notification-color: $info;
$notification-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);

// Links
// ======================
$link-color: $info;
$link-underline-offset: 0;
$link-hover-color: darken($info, 30%);
$link-hover-underline-offset: 0;
$link-focus-color: $warning;
$link-focus-underline-offset: 0;
$link-active-color: $success;
$link-active-underline-offset: 0;

// Modal
// ======================
$modal-card-head-background-color: darken($primary, 5%);
$modal-card-body-background-color: lighten($primary, 10%);



// Import Bulma
// ======================
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/form/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/helpers/_all";
@import "bulma/layout/_all";

// Custom Styles
// ======================
#main-header {
    z-index: 10;
}

#animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(420deg, $secondary, lighten($primary, 15%));
    animation: GradientAnimate 15s ease infinite;
    z-index: -1;
}

#hero-main {
    background-color: transparent;
    background-image: none;
}

#logo {
    width: 37px;
    height: 28px;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

#hero-logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid silver;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    margin-bottom: 2rem;
    z-index: 1;
    position: relative;
    object-fit: cover;
}

#toast-notification {
    z-index: 50;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#toast-notification.is-active {
    opacity: 1;
}


// Responsive Adjustments
// ======================
@media (max-width: 768px) {

    .hero-main h1,
    .hero-main p {
        font-size: medium;
    }
}

// Loading Spinner
// ======================
.spinner {
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// Hero Styles
// ======================
.hero.is-fullheight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main {
    background-color: transparent;
    background-image: none;
    max-width: 100%;
    margin: auto;
    padding: 0 1.5rem;
}

@media (max-width: 768px) {
    .hero-main h1 {
        font-size: large;
    }

    .hero-main p {
        font-size: medium;
    }
}

// Card styles
// ======================
.columns .column {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content {
    flex-grow: 1;
}

.is-disabled {
    pointer-events: none;
    color: grey;
    cursor: default;
}

// General Styles
// ======================
html,
body {
    height: 100%;
    width: 100%;
}
