/* custom.scss */
@charset "utf-8";

// Variables
// ======================
$primary: #7b380b;
$primary-invert: #A8DADC;
$info: #F1FAEE;
$success: #A8DADC;
$warning: #F4A261;
$danger: #E76F51;

$light: #A8DADC;
$dark: #1D3557;
$darker: #0B0C10;
$black: $dark;

$text: #F1FAEE;
$text-strong: #E63946;

// Custom colors for UI elements
$background: $dark;
$link: $info;
$button-color: $dark;
$button-background: $info;

// Typography
// ======================
$family-sans-serif: "Ubuntu", sans-serif;
$family-monospace: "Ubuntu Mono", monospace;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// Layout and Spacing
// ======================
$block-spacing: 1.5rem;
$gap: 32px;

// Animation
// ======================
$easing: ease-out;
$speed: 86ms;

// Borders and Radius
// ======================
$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$radius-rounded: 9999px;

// Navbar
// ======================
$navbar-height: 3rem;
$navbar-background-color: $background;
$navbar-item-color: $primary-invert;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: $light;
$navbar-dropdown-background-color: $background;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-item-hover-background-color: $light;

// Import Bulma
// ======================
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/form/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/helpers/_all";
@import "bulma/layout/_all";

// Custom Styles
// ======================
#main-header {
    z-index: 10;
    background: $background;
}

#animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, $background, darken($primary, 25%));
    animation: GradientAnimate 15s ease infinite;
    z-index: -1;
}

#hero-main {
    background-color: transparent;
    background-image: none;
}

#logo {
    width: 37px;
    height: 28px;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

#hero-logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid silver;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    margin-bottom: 2rem;
    z-index: 1;
    position: relative;
    object-fit: cover;
}

#toast-notification {
    z-index: 2000; 
    position: fixed; /* or absolute */
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $darker;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#toast-notification.is-active {
    opacity: 1;
}


// Responsive Adjustments
// ======================
@media (max-width: 768px) {
    .hero-main h1, .hero-main p {
        font-size: medium;
    }
}

// Hero Styles
// ======================
.hero.is-fullheight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main {
    background-color: transparent;
    background-image: none;
    max-width: 100%;
    margin: auto;
    padding: 0 1.5rem;
}

.hero-main h1, .hero-main p {
    color: $primary-invert;
}

@media (max-width: 768px) {
    .hero-main h1 {
        font-size: large; // Smaller font size for mobile
    }

    .hero-main p {
        font-size: medium; // Adjust paragraph font size
    }
}

// General Styles
// ======================
html, body {
    height: 100%;
    width: 100%;
    color: $text;
}

div {
    color: $text;
}

.title {
    color: $text;
}

.subtitle {
    color: $text;
}

.box, .card {
    background-color: $background;
}

.button-upload {
    background-color: $light;
    color: $dark;
    text-align: center;
}