<!DOCTYPE html>

<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap">
    <!-- Animate-on-scroll -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Custom Style -->
    {% if config.LIBSASS_AVAILABLE %}
        {% assets "scss_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    {% endif %}
</head>

<body>
    <!-- Animated Background -->
    <canvas id="animated-bg"></canvas>

    <!-- Header Section -->
    {% include 'header.html' %}

    <!-- Hero Section -->
    {% include 'hero.html' %}

    <!-- About Me Section -->
    {% include 'about.html' %}

    <!-- Timeline Section -->
    {% with sections=site.timeline.sections %}
    {% include 'timeline.html' %}
    {% endwith %}

    <!-- Projects Section -->
    {% include 'projects.html' %}

    <!-- Contact Section -->
    {% include 'contact.html' %}

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init()</script>
    <script src="{{ url_for('static', filename='js/animated-bg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
        kofiWidgetOverlay.draw('makurspace', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Support us!',
            'floating-chat.donateButton.background-color': '#9b5de5',
            'floating-chat.donateButton.text-color': '#ffffff'
        });
    </script>
</body>

</html>