<!DOCTYPE html>
<html>

<head>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap">
    <!-- Animate-on-scroll -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Custom Style -->
    {% if config.LIBSASS_AVAILABLE %}
        {% assets "scss_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    {% endif %}
</head>

<body id="login-section">
    <!-- Animated Background -->
    <canvas id="animated-bg"></canvas>

    <!-- Login Modal -->
    <div class="modal is-active">
        <div class="modal-background"></div> <!-- This will overlay your animated background -->
        <div class="modal-content">
            <!-- Login Form Content -->
            <div class="box">
                <form id="login-form" action="{{ url_for('main.login') }}" method="post" class="section">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="next" value="{{ request.args.get('next') }}">
                    <div class="field">
                        <label class="label">{{ form.username.label }}</label>
                        <div class="control">
                            {{ form.username(class_='input', placeholder='Your Username') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.password.label }}</label>
                        <div class="control">
                            {{ form.password(class_='input', placeholder='Your Password') }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.submit(class_='button is-primary') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Close button -->
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script>
        // If you want to enable the close button functionality
        document.querySelector('.modal-close').addEventListener('click', function() {
            document.querySelector('.modal').classList.remove('is-active');
        });
    </script>
</body>

</html>
