{% extends "base.html" %}

{% block content %}
<body id="login-section">
    <!-- Login Modal -->
    <div class="modal is-active">
        <div class="modal-background"></div> <!-- This will overlay your animated background -->
        <div class="modal-content">
            <!-- Login Form Content -->
            <div class="box">
                <form id="login-form" action="{{ url_for('main.login') }}" method="post" class="section">
                    {{ form.hidden_tag() }}
                    {% if request.args.get('next') %}
                        <input type="hidden" name="next" value="{{ request.args.get('next') }}">
                    {% endif %}                    
                    <div class="field">
                        <label class="label">{{ form.username.label }}</label>
                        <div class="control">
                            {{ form.username(class_='input', placeholder='Your Username') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.password.label }}</label>
                        <div class="control">
                            {{ form.password(class_='input', placeholder='Your Password') }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.submit(class_='button is-primary') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Close button -->
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script>
        // If you want to enable the close button functionality
        document.querySelector('.modal-close').addEventListener('click', function() {
            document.querySelector('.modal').classList.remove('is-active');
        });
    </script>
</body>
{% endblock %}