<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap">
    <!-- Animate-on-scroll -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Custom Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <title>Redirecting to OctoPrint</title>
    <style>
        #countdown {
            font-size: 20px;
            margin: 20px;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function redirectToOctoPrint() {
            window.open("{{ octoprint_url }}", "_blank");
        }

        function startCountdown(duration, display) {
            var timer = duration, seconds;
            var interval = setInterval(function () {
                seconds = parseInt(timer % 60, 10);
                seconds = seconds < 10 ? "0" + seconds : seconds;
                display.textContent = seconds;

                if (--timer < 0) {
                    clearInterval(interval);
                    window.location.href = "{{ url_for('main.index') }}"; // Redirect to home
                }
            }, 1000);
        }

        window.onload = function () {
            redirectToOctoPrint();
            var display = document.querySelector('#timer');
            startCountdown(10, display); // Start 10-second countdown
        };
    </script>
</head>

<body>
    <!-- Animated Background -->
    <canvas id="animated-bg"></canvas>

    <!-- Header Section -->
    {% include 'header.html' %}

    <h1>If you are not redirected, <a href="{{ octoprint_url }}" target="_blank">click here</a> to access OctoPrint.
    </h1>
    <div class="content has-text-centered" id="countdown">
        <p>Returning home in <span id="timer">10</span> seconds</p>
    </div>
    
    <script src="{{ url_for('static', filename='js/animated-bg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>