{% extends "base.html" %}

{% block content %}
    <h1>If you are not redirected, <a href="{{ octoprint_url }}" target="_blank">click here</a> to access OctoPrint.</h1>
    <div class="content has-text-centered" id="countdown">
        <p>Returning home in <span id="timer">10</span> seconds</p>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function redirectToOctoPrint() {
            window.open("{{ octoprint_url }}", "_blank");
        }

        function startCountdown(duration, display) {
            var timer = duration, seconds;
            var interval = setInterval(function () {
                seconds = parseInt(timer % 60, 10);
                seconds = seconds < 10 ? "0" + seconds : seconds;
                display.textContent = seconds;

                if (--timer < 0) {
                    clearInterval(interval);
                    window.location.href = "{{ url_for('main.index') }}"; // Redirect to home
                }
            }, 1000);
        }

        window.onload = function () {
            redirectToOctoPrint();
            var display = document.querySelector('#timer');
            startCountdown(10, display); // Start 10-second countdown
        };
    </script>
{% endblock %}
